body{
    margin: 0;
    height: 100vh;
}
.menu > menu{
    list-style-type: none;
    display: flex;
    justify-content: right;
    background-color: red;
    line-height: 3rem;
    margin: 0;

}
menu > li{
    padding: 1rem 1rem;
}
.menu a{
    text-decoration: none;
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 16px;
    font-weight: 800;
}
.menu li:hover{
    background-color: rgb(161, 82, 82);
}
#footer{
    display:flex;
    justify-content: right;
    padding-right: 1rem;
    align-items: flex-end;
    background-color: blue;
    color:white;
}
#content{
    height: calc(100vh - 230px);
    background-color: cyan;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.CatalogoPokemones{
    flex-flow: row wrap;

}
.CatalogoPokemones article{
    font-size: 15px;
    text-align: Center;
}
#siguiente{
    display:flex;
    justify-content: space-around;
}